machine="$(grep -l "$(hostname)" machines/*/configuration.nix | sed -E 's,machines/(.+)/configuration.nix,\1,')"
export machine

watch_file \
    flake.nix \
    flake.lock \
    default.nix \
    shell.nix
eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"

PATH_add bin
