machine="$(grep -l "$(hostname)" machines/*/configuration.nix | sed -E 's,machines/(.+)/configuration.nix,\1,')"
export machine

use_flake() {
    watch_file \
        flake.nix \
        flake.lock \
        shell.nix
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake

PATH_add bin
