[submodule "emacs"]
	path = emacs
	url = git@github.com:yurrriq/dotfiles.git
	branch = emacs
[submodule "fish"]
	path = fish
	url = git@github.com:yurrriq/dotfiles.git
	branch = fish
[submodule "leiningen"]
	path = leiningen
	url = git@github.com:yurrriq/dotfiles.git
	branch = leiningen
[submodule "spacemacs"]
	path = spacemacs
	url = git@github.com:yurrriq/dotfiles.git
	branch = spacemacs
